<div class="container">
    <p style="font-size:larger;color:brown;">
        Data Transfer from one component to another component, two types of property decorators provided by Angular they are following.
    </p>
    <h3>
        <details>
            <summary>@Input Decorator</summary>
                <ul class="paraDesign">
                    <li>Input decorator is used to pass data from <span style="color: deeppink;"> parent component to 
                        child component</span>.</li>
                    <li>but there is one condition that is need the relationship between them.</li>
                    <li>@Input() Decorator is declared in Child component.</li>
                    <li> <code>Syntax -> @Input() decorator_name:Datatype;</code></li>
                </ul>               
        </details>
    </h3>

    <h3>
        <details>
            <summary>@Output Decorator</summary> 
                <ul class="paraDesign">
                    <li>Output decorator is used to pass data from <span style="color: deeppink;"> child component to 
                        parent component </span> with the help of EventEmitter.</li>
                    <li>but there is one condition that is need the relationship between them.</li>
                    <li>@Output() Decorator is also declared in Child component.</li>
                    <li> <code>Syntax -> @Output() decorator_name : EventEmitter datatype = new EventEmitter datatype ();</code></li>
                </ul>
        </details>
    </h3>

    <app-parentcomponent></app-parentcomponent> <br><br>

    <h4>Other Decorators</h4>
    <p>Decorators are Starts with "@" Symbol.</p>
    <ol>
        <li>@Component</li>
        <li>@NgModule</li>
        <li>@Injectable</li>
        <li>@Directive</li>
        <li>@Pipe</li>
    </ol>
  
</div>
