<div class="container">
    <h3>
        <details>
            <summary>Input Docorator</summary>
            <p style="font-size:large;">
                input decorator is used to pass data from parent component to 
                child component. but there is one condition that is need the 
                relationship between them.
            </p>
            <button (click)="gotoParent()">Click here to go parent component</button>

        </details>
    </h3>


    <h3>
        <details>
            <summary>Output Docorator</summary>
            <p style="font-size:large;">
                output decorator is used to pass data from child component to 
                parent component with the help of eventEmitter. but there is one condition that is need the 
                relationship between them.
            </p>
        </details>
    </h3>
</div>